<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtufi9nWHHdiKWanIBUJyGJ3j_66lcP3U</string>
	<key>GCM_SENDER_ID</key>
	<string>133708836301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.zuleyhakezer.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-15961</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-15961.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133708836301:ios:0b5eba4446c4abeaf72884</string>
</dict>
</plist>